[submodule "ShadowVPN"]
	path = ShadowVPN
	url = https://github.com/clowwindy/ShadowVPN.git
[submodule "ChinaDNS"]
	path = ChinaDNS
	url = https://github.com/aa65535/openwrt-chinadns.git
[submodule "redsocks2"]
	path = redsocks2
	url = https://github.com/aa65535/openwrt-redsocks2.git
[submodule "shadowsocks-libev"]
	path = shadowsocks-libev
	url = https://github.com/shadowsocks/openwrt-shadowsocks.git
[submodule "openwrt-dist-luci"]
	path = openwrt-dist-luci
	url = https://github.com/aa65535/openwrt-dist-luci.git
